<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="fiction-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="{% url 'products' %}?category=Classics" class="dropdown-item">Classics</a>
                <a href="{% url 'products' %}?category=Horror" class="dropdown-item">Horror</a>
                <a href="{% url 'products' %}?category=Mystery" class="dropdown-item">Mystery</a>
                <a href="{% url 'products' %}?category=Romance" class="dropdown-item">Romance</a>
                <a href="{% url 'products' %}?category=Science-Fiction" class="dropdown-item">Science-Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="kids-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="{% url 'products' %}?category=3-5" class="dropdown-item">Age 3-5</a>
                <a href="{% url 'products' %}?category=6-8" class="dropdown-item">Age 6-8</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="cooking-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cooking, Baking & Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cooking-link">
                <a href="{% url 'products' %}?category=Cooking" class="dropdown-item">Cooking</a>
                <a href="{% url 'products' %}?category=Drinks" class="dropdown-item">Drinks</a>
                <a href="{% url 'products' %}?category=Baking" class="dropdown-item">Baking</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="office-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Office Materials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="office-link">
                <a href="{% url 'products' %}?category=Notebooks" class="dropdown-item">Notebooks</a>
                <a href="{% url 'products' %}?category=Sketchpads" class="dropdown-item">Sketchpads</a>
            </div>
        </li>
    </ul>
</div>